.download_xl_file > p{
    font-size: 18px;
    font-weight: 600;
    color: #716A6A;
    margin-bottom: 13px;
}
.xl_download_btn{
    display: flex;
    align-items: center;
    padding: 38px 20px;
    background-color: rgba(162, 205, 197, 0.1);
    max-width: 400px;
    width: 100%;
}
.xl_icon{
    margin-right: 15px;
}
.xl_download_btn p{
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.bluk_brower_file .res_input_wrap {
    display: flex;
    align-items: center;
}
.bluk_brower_file .file-select {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(162, 205, 197, 0.1);
    padding: 10px 15px;
}
.bluk_brower_file .res_input_wrap .file-select1 {
    position: relative;
    margin-left: 10px;
    min-width: 160px;
}
.bluk_brower_file .res_input_wrap .file-select1 input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 25px 50px;
}
.bluk_brower_file .get_otp_btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #A2CDC5;
    margin-left: 10px;
    padding: 10px;
}
.bluk_brower_file{
    margin-top: 45px;
}
.bluk_brower_file p{
    font-size: 18px;
    color: #4D7C73;
    font-weight: 600;
    margin-bottom: 10px;
}
.bluk_brower_file p span{
    color: #FF0000;
}
.fill_content ul li{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.fill_content ul li + li{
    margin-top: 10px;
}
.fill_content ul li > span{
    margin-right: 15px;
}
.how_it_work_wrap{
    padding-top: 50px;
}
.how_it_work_wrap h3{
    font-size: 36px;
}
.video_bm{
    max-width: 490px;
    min-height: 295px;
    width: 100%;
    position: relative;
}
.work_video{
    display: flex;
    justify-content: center;
}
.video_bm > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.play i{
    font-size: 60px;
    color: #000;
}
.work_video{
    padding: 52px 0 90px;
}
.single_product_listing.bluck_listing{
    max-width: 500px;
}
.fill_content{
    max-width: 600px;
}

@media screen and (max-width: 1440px) {
    .fill_content ul li{
        font-size: 20px;
    }
    .work_video {
        padding: 50px 0 60px;
    }
}

@media screen and (max-width: 1440px) {
    .single_product_listing.bluck_listing {
        max-width: 100%;
    }
    .fill_content {
        max-width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .xl_download_btn{
        padding: 25px 20px;
    }
    .search_input {
        margin: 25px 0 20px;
    }
    .how_it_work_wrap h3 {
        font-size: 30px;
    }
    .work_video {
        padding: 40px 0 40px;
    }
    .fill_content ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .video_bm{
        min-height: 250px;
    }
    .work_video {
        padding: 30px 0;
    }
    .how_it_work_wrap h3 {
        font-size: 28px;
    }
    .bluck_listing .bluk_brower_file .res_input_wrap{
        flex-direction: column;
        align-items: flex-start;
    }
    .bluck_listing .bluk_brower_file .res_input_wrap .file-select1{
        margin-top: 10px;
        margin-left: 0px;
    }
    .bluck_listing .bluk_brower_file .get_otp_btn{
        margin-left: 0px;
    }
   
}