.single_product_listing{
    padding: 50px 0 0;
}
.select_cat_btn{
    padding: 8px 40px;
    border-radius: 45px;
    font-size: 24px;
    background-color: #ECF6F5;
    color: #4D7C73;
    outline: none;
    border: unset;
}
.select_cat_btn:hover{
    background-color: #4D7C73;
    color: #fff;
}
.search_input{
    margin: 50px 0 30px;
}
.category_menu{
    margin: 0 -8px;
}
.common_menu_wrap{
    width: 236px;
    padding: 0 8px;
}
.product_list_wrap .modal-dialog{
    max-width: 750px;
}
.category_menu{
    display: flex;
}
.common_menu_wrap > div {
    display: none;
}
.common_menu_wrap > div.top_menu{
    display: block;
}
.common_menu_wrap ul li a{
    padding: 13px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(141, 222, 203, 0) 0%, rgba(141, 222, 203, 0) 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    position: relative;
}
.common_menu_wrap ul li a::after{
    content: '';
    width: 8px;
    height: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../image/single_product_listing/right_arrow.svg);
    display: none;
}
.common_menu_wrap ul li a.active::after{
    display: block;
}
.common_menu_wrap ul li + li{
    margin-top: 5px;
}
.catagory_parth{
    margin: 33px 0 50px;
}
.catagory_parth a{
    font-size: 18px;
    font-weight: bold;
    color: #636363;
}
.catagory_parth a:hover{
    color: #4D7C73;
}
.edit_photos{
    color: #1229F6;
}
.photo_img_left ul{
    display: flex;
    flex-direction: column;
    min-width: 72px;
}
.photo_img_left ul li{
    position: relative;
}
.photo_img_left ul li + li{
    margin-top: 5px;
}
.upload_file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background-color: #E9E9E9;
    border-radius: 15px;
}
.extraction {
    display: none;
    font-size: 10px;
    text-align: center;
    padding: 0 5px;
}
.previewImg {
    display: none;
    object-fit: contain;
    height: 100%;
}
input.preview_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.product_edit_upload_wrap{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #E7F1EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.plus_img{
    display: flex;
    justify-content: center;
    align-self: center;
}
.photo_img_left{
    display: flex;
}
.photo_img_left ul{
    margin-right: 40px;
}
.photo_upload_section{
    position: relative;
}
.main_product_img {
    max-width: 450px;
    min-height: 450px;
    width: 100%;
}
.main_produt_info,
.main_produt_info .upload_file{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo_img_left{
    margin-top: 40px;
}
.product_info{
    display: flex;
    justify-content: space-between;
}
.product_info a{
    color: #1229F6;
    font-weight: bold;
}
.product_info a:hover{
    color: #1229F6;
}
.border_top{
    border-top: 1px solid #000;
}
.cm_info_wrap{
    display: flex;
    align-items: center;
    height: 100%;
}
.cm_info_inner{
    border: 1px solid #3D3B3B;
    max-width: 650px;
    width: 100%;
    padding: 30px;
}
.price_information{
    padding: 50px 0;
}
.info_dec{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.lable_dec{
    max-width: 200px;
    width: 100%;
}
.lable_dec p{
    font-size: 16px;
    color: #3D3B3B;
    text-align: right;
}
.lable_dec p sup {
    color: #D60E0E;
    font-size: 23px;
    top: 0.1em;
}
.lable_dec{
    margin-right: 15px;
}
.cm_info_title h3{
    font-size: 22px;
    font-weight: 300;
    color: #3D3B3B;
}
.lable_input{
    position: relative;
    max-width: 220px;
    width: 100%;
}
.lable_input input{
    width: 100%;
    height: 35px;
    padding: 5px 10px;
}
.price_text{
    width: 30px;
    height: 35px;
    background-color: #4D7C73;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
.price_text span{
    color: #fff;
}
.price_wrap input{
    padding-left: 40px;
}
.gst_per p{
    color: #000;
}
.product_variant{
    display: flex;
    justify-content: space-between;
}
.product_variant a:hover{
    color: #1229F6;
}
.product_variant_wrap{
    border: 1px solid #4D7C73;
    padding: 30px;
}
.variant_lisr ul{
    margin-top: 40px;
}
.variant_lisr ul li{
    display: flex;
}
.variant_lisr ul li + li{
    margin-top: 30px;
}
.variant_lisr ul li p{
    margin-right: 15px;
}
.variant_lisr ul li span{
    color: #1229F6;
}
.add_product_dec{
    margin-top: 20px;
    padding: 15px 30px;
    border: 1px solid #000;
}
.add_product_dec p{
    text-align: center;
}
.product_dec_wrap .lable_dec{
    max-width: unset;
}
.product_dec_wrap .lable_dec p{
    text-align: left;
}
.add_info .lable_dec{
    max-width: unset;
    display: flex;
    align-items: center;
}
.add_info .lable_dec p{
    text-align: left;
    margin-right: 15px;
    font-size: 22px;
}
.add_info .lable_dec span{
    color: #757070;
}
.key_word_select select{
    width: 100%;
}
.select2-container{
    width: 100% !important;
}
.cm_multi_select .select2-selection__choice__remove{
    position: absolute;
    right: 0px;
    top: 0px;
}
.cm_multi_select ul li{
    padding: 12px 35px !important;
    background-color: #4D7C73 !important;
    color: #fff !important;
    position: relative !important;
    border-radius: 50px !important;
}
.cm_multi_select ul li button{
    width: 5px  !important;
    height: 6px !important;
    color: #fff !important;
    right: 18px !important;
    position: absolute !important;
    top: 0px !important;
    left: unset !important;
    border: unset !important;
}
.cm_multi_select .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus{
    background-color: unset;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #4D7C73;
    color: white;
}
.add_info {
    padding: 20px 0;
    border: 1px solid #000;
    padding-left: 15px;
}
.cm_multi_select{
    padding: 0 30px;
    margin-top: 15px;
}
.add_info + .add_info{
    margin-top: 30px;
}
.return_info_dec .lable_dec{
    max-width: unset;
    width: unset;
}
.return_info_dec .lable_dec p{
    text-align: left;
}
.return_info_dec{
    display: flex;
    align-items: center;
}
.select_wrap{
    max-width: 365px;
    width: 100%;
}
.single_select{
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-secondary.single_select:hover{
    background-color: unset;
    color: unset;
}
.dropdown-toggle.single_select::after{
    content: '\f107';
    font-family: FontAwesome;
    border: unset;
}
.single_select.show::after{
    transform: rotate(-180deg);
}
.dropdown-menu.show{
    width: 100%;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: unset;
    background-color: unset;
    border-color: unset;
    box-shadow: unset;
}
.return_info_dec{
    padding: 50px 30px;
    border: 1px solid #000;
}
.return_order_wrap .row{
    justify-content: space-between;
}
.sale_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date_wrap .return_info_dec{
    justify-content: space-between;
}
.start_end_date{
    display: flex;
    align-items: center;
}
.date_title_wrap{
    display: flex;
    align-items: center;
}
.date_title_wrap p{
    font-size: 16px;
    color: #000;
    margin-right: 10px;
}
.date_title_wrap input{
    max-width: 200px;
    min-height: 50px;
    position: relative;
    padding-left: 57px;
}
.cal_img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D7C73;
}
.date_title_wrap + .date_title_wrap{
    margin-left: 30px;
}
.date_wrap{
    margin: 30px -15px;
}
.last_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}
.last_btn button{
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D7C73;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}
.cm_multi_select .select2-dropdown{
    display: none;
}
.cm_multi_select .select2-selection{
    display: flex;
    align-items: center;
}
.sku_wrap .lable_dec{
    max-width: unset;
    width: unset;
}
.variant_modal_image {
    display: flex;
    justify-content: center;
}
.variant_modal_image li + li{
    margin-left: 10px;
}
.add_img_wrap h3 {
    font-size: 16px;
    color: #3D3B3B;
    font-weight: 400;
}
.variant_modal_big_image .upload_file{
    width: 150px;
    height: 150px;
}
.variant_modal_big_image {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.add_img_wrap{
    margin-top: 25px;
}
.variant_moddal_wrap{
    padding: 30px 0;
}
.variant_size{
    max-width: 450px;
    width: 100%;
}
.size_select.cm_multi_select ul li{
    padding: 5px 25px !important;
}
.search_input  .select2{
    max-width: 750px !important;
    height: 60px !important;
    border-radius: 60px;
}
.search_input .select2-container--default .select2-selection--single {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ECF6F5;
    padding: 10px 15px 10px 50px;
}
.search_input .select2-selection__rendered{
    color: #4E7C72;
}
.search-control{
    position: relative;
}
.search_input .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
.search_input .select2-selection{
    position: relative;
}
.search_input .select2-selection::after{
    content: ' ';
    width: 25px;
    height: 30px;
    background-image: url(../image//product_view/search_big_icon.png);
    object-fit: contain;
    position: absolute;
    left: 15px;
    top: 54%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1680px) {
    .search_input {
        margin: 40px 0 25px;
    }
    .select_cat_btn{
        font-size: 20px;
    }
    .catagory_parth {
        margin: 30px 0 40px;
    }
    .product_edit_upload_wrap{
        max-width: 625px;
    }
    .info_dec{
        margin-top: 25px;
    }
}

@media screen and (max-width: 1360px) {
    .cm_info_inner {
        padding: 20px;
    }
    .lable_dec p,
    .date_title_wrap p{
        font-size: 14px;
    }
    .date_wrap .return_info_dec {
        flex-direction: column;
    }
    .start_end_date{
        margin-top: 15px;
    }
}

@media screen and (max-width: 1199px) {
    .cm_info_title h3{
        font-size: 18px;
    }
    .cm_info_inner {
        padding: 15px;
    }
    .lable_dec {
        margin-right: 10px;
    }
    .lable_dec p sup {
        font-size: 18px;
    }
    .lable_dec {
        max-width: 150px;
    }
    .date_title_wrap input{
        min-height: 40px;
    }
    .return_info_dec {
        padding: 40px 15px;
    }
    .price_information {
        padding: 40px 0;
    }
}

@media screen and (max-width: 991px) {
    .single_product_listing {
        padding: 15px 0 0;
    }
    .search_input {
        margin: 30px 0 25px;
    }
    .price_information {
        padding: 35px 0;
    }
    .gst_per p{
        font-size: 14px;
    }
    .add_info .lable_dec p {
        font-size: 20px;
    }
    .add_info .lable_dec span{
        font-size: 14px;
    }
    .cm_multi_select {
        padding: 0 20px;
    }
    .last_btn {
        margin-top: 60px;
    }
    .last_btn a{
        min-height: 45px;
    }
}

@media screen and (max-width: 767px) {
    .category_menu {
        min-width: 725px;
    }
    .product_list_wrap .modal-body{
        overflow-x: auto;
    }
    .select_cat_btn {
        font-size: 18px;
    }
    .select_cat_btn {
        font-size: 18px;
    }
    .product_edit_upload_wrap{
        padding: 20px;
    }
    .photo_img_left ul {
        margin-right: 25px;
    }
    .price_stock_shipping_address_section .price_information .row > div + div,
    .return_order_wrap .row > div + div{
        margin-top: 15px;
    }
    .price_information {
        padding: 30px 0;
    }
    .info_dec {
        margin-top: 20px;
    }
    .variant_lisr ul li p,
    .variant_lisr ul li span{
        font-size: 14px;
    }
    .variant_lisr ul li + li {
        margin-top: 20px;
    }
    .variant_lisr ul {
        margin-top: 30px;
    }
    .start_end_date {
        flex-direction: column;
    }
    .date_title_wrap + .date_title_wrap {
        margin-left: unset;
        margin-top: 15px;
    }
    .return_info_dec {
        padding: 30px 15px;
    }
    .return_info_dec .lable_dec p {
        white-space: nowrap;
    }
}

@media screen and (max-width: 575px) {
    .cm_title_input h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .price_information {
        padding: 25px 0;
    }
    .info_dec {
        margin-top: 15px;
    }
    .lable_dec {
        max-width: 100%;
    }
    .info_dec{
        flex-wrap: wrap;
    }
    .lable_dec p{
        text-align: left;
    }
    .add_info .lable_dec p {
        font-size: 18px;
    }
    .return_info_dec .lable_dec,
    .lable_dec p, .date_title_wrap p{
        max-width: 100%;
        width: 100%;
    }
    .return_info_dec,
    .sale_wrap,
    .date_title_wrap{
        flex-wrap: wrap;
    }
    .date_wrap .return_info_dec{
        align-items: flex-start;
    }
    .product_edit_upload_wrap {
        padding: 15px;
    }
    .upload_file{
        width: 65px;
        height: 65px;
    }
    .main_product_img {
        min-height: 410px;
    }
    .add_info .lable_dec p{
        max-width: unset;
        width: unset;
    }
    .add_info .lable_dec p {
        font-size: 14px;
        margin-right: 10px;
    }
    .add_info{
        padding: 15px;
    }
    .common_title h2 {
        font-size: 26px;
        line-height: 1.4;
    }
    .catagory_parth {
        margin: 20px 0 20px;
    }
    .photo_img_left ul {
        margin-right: 10px;
    }
    .product_variant_wrap{
        padding: 20px;
    }
    .last_btn {
        margin-top: 35px;
    }
    .last_btn a + a{
        margin-left: 10px;
    }
    .last_btn a{
        font-size: 14px;
    }
    .variant_modal_image {
        flex-wrap: wrap;
    }
    .variant_modal_image li{
        margin-top: 10px;
    }
    .variant_size .cm_multi_select {
        padding: 0 0;
    }
}
